annotated-types==0.5.0
asgiref==3.7.2 
beautifulsoup4==4.12.2
blis==0.7.10
boto3==1.28.27
botocore==1.31.27
catalogue==2.0.9
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
confection==0.1.1
crispy-tailwind==0.5.0
cymem==2.0.7
dj-database-url==2.1.0
Django==4.2.4
django-crispy-forms==2.0
django-environ==0.10.0
python-dateutil==2.8.2
python-dotenv==1.0.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
psycopg2-binary==2.9.7
